*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 5rem;
    text-align: center;
}

body.dark{
    background-color: #1f1f1f;
    color: #fff;
}
.toggle-container{
    position: fixed;
    top: 10px;
    right: 10px;
}
label{
    user-select: none;
}